<%-include("layout/header") %>
  <body>
    <h1>login Page</h1>
        <form action="/login" method="post">
        <div class="form_control">
            <label for="username"> User Name : </label>
            <input type="text" name="username" id="username">
        </div><br>
        <div class="form_control">
            <label for="password"> password : </label>
            <input type="password" name="password" id="password">
        </div><br>
        <button type="submit">Login</button>
    </form>

  </body>
</html>
<%-include('layout/footer')%>
